#main {
    display: grid;
    grid-template-columns: 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25%;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    grid-column-start: 1;
    grid-column-end: 16;

    background-color: lightpink;
    margin: auto;
    padding: 50px;
    width: 15%;

}
