#main {
    background-color: lightpink;
    margin: auto;
    padding: 10px;
    width: 50vw;
}

.cell {
    border: 1px solid gray;
    min-width: 1px;
    min-height: 2px;
    display: inline-block;
  }
